<%if @current_user.role.to_s != "admin"  %>
    <script type="text/javascript">
      window.location.href="/home"  // put your correct path in a string here
    </script>
<%end%>
<% @page_title = "Problem Submit" -%>

<div style="padding-top: 100px; padding-bottom: 200px;" >
  <div class= "Sign_Form submit-div " >
    <h1>Add a Problem</h1>
    <%= form_for(:prob, :url => {:controller => 'sessions', :action => 'create_prob'}) do |f| %>
        <p><h4 class="login-text">Problem text</h4><%= f.text_area :probText, size: "50x10", class:'form-control submit-textarea'  %> </p>
        <p><h4 class="login-text">Problem input</h4><%= f.text_area :input, size: "30x10", class:'form-control submit-textarea'  %> </p>
        <p><h4 class="login-text">Problem output</h4><%= f.text_area :output, size: "30x10", class:'form-control submit-textarea'  %> </p>

        <div  class=" login-btn">
          <%= f.submit :Submit, class: "btn btn-default btn-color"  %>
        </div>
    <% end %>

  </div>
</div>



